.wrapper {
  margin-left: 20px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px 4px green;
  padding: 15px;
  margin-top: 10px;
  max-width: 300px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: rgb(22, 181, 22);
  }
}
