.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

.leftLinks {
  display: flex;
  gap: 20px;
}

.rightLinks {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.activeLink {
  color: green;
}
.btn {
  margin-top: 10px;
  padding: 8px 16px;
  width: 100px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: rgb(22, 181, 22);
  }
}
